<section class="customer-form">
	<h2>{{ isEditModeEnabled ? 'Edit' : 'Add' }} customer</h2>
	<form [formGroup]="formGroup" class="row">
		<mat-form-field class="col">
			<input
				matInput
				type="text"
				formControlName="name"
				placeholder="Enter Name"
				required
			/>
		</mat-form-field>
		<mat-form-field class="col">
			<input
				matInput
				type="number"
				formControlName="age"
				placeholder="Enter Age"
				required
			/>
		</mat-form-field>
		<mat-form-field class="col">
			<input
				matInput
				type="email"
				formControlName="email"
				placeholder="Enter Email"
				required
			/>
		</mat-form-field>
	</form>

	<button mat-raised-button color="primary" (click)="saveCustomer()">
		Save
	</button>
</section>
